<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/cards.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>
    <div class="card-wrapper">
        <div class="card">
            <div class="container">
                <div class="top">
                    <img src="../images/test1.jpg" alt="фотография музея">
                </div>
                <div class="bottom">
                    <div class="left">
                        <div class="details">
                            <h1>Chair</h1>
                            <p>£250</p>
                        </div>
                        <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                    </div>
                    <div class="right">
                        <div class="done"><i class="material-icons">done</i></div>
                        <div class="details">
                            <h1>Chair</h1>
                            <p>Added to your cart</p>
                        </div>
                        <div class="remove"><i class="material-icons">clear</i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../js/script.js"></script>

</html>