<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="title">Ночь Музеев</div>
        <div id="tiles_header">
            <div class="member_tile">Музеи</div>
            <div class="member_tile">Экскурсии</div>
            <div class="member_tile">т.д.</div>
        </div>
    </header>
</body>
</html>