{{ define "links"}}
    <link rel="stylesheet" href="/static/css/input.css">
{{ end }}

{{ define "title" }}Вход{{ end }}

{{ define "content"}}
    <form method="post" class="form">
        <h1 class="form-title">Вход</h1>
        <input type="text" maxlength="32" name="login" class="input" placeholder="Логин">
        <input type="password" maxlength="32" name="password" class="input" placeholder="Пароль">
        <p><input class="form-btn" type="submit" value="Вход"></p>
    </form>
{{ end }}